* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.base {
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (3, 1fr);
}

.targeta {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.label-cursor {
  cursor: pointer;
}

p {
  font-size: 36px;
  padding-top: 40px;
  padding-bottom: 40px;
}

input {
  display: none;
}

.img-all {
  width: 100%;
}

#id-input-01:checked + label,
#id-input-02:checked + label,
#id-input-03:checked + label,
#id-input-04:checked + label,
#id-input-05:checked + label,
#id-input-06:checked + label,
#id-input-07:checked + label,
#id-input-08:checked + label,
#id-input-09:checked + label,
#id-input-10:checked + label,
#id-input-11:checked + label,
#id-input-12:checked + label {
  display: flex;
  animation-name: animacion;
}

.label-img-02 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes animacion {
  0% {
    opacity: 0;
    background-color: lightgreen;
    transform: scale(1) skewY(0deg);
  }
  50% {
    opacity: 0;
    background-color: black;
    transform: scale(0.015, 1) skewY(2deg);
  }
  51% {
    opacity: 0;
    background-color: black;
    transform: scale(0.015, 1) skewY(-2deg);
  }
  100% {
    opacity: 1;
    background-color: lightgreen;
    transform: scale(1) skewY(0deg);
  }
}
